runs/
__pycache__/
gf180mcu/
gf180_drc.lyrdb
final/
img/
.ipynb_checkpoints/
*.vvp
*.vcd
SSCS_2026_01/SSCS_2026_01.gds
Analog/schematics/2_mixer/simulation_files/mixer_tb.raw
Analog/schematics/2_mixer/simulation_files/mixer_tb_tran.raw