#N
cfg_done
cal_timeout
cal_start
cal_done

#E
cfg_f_MEMS_fcw\[\d+\]
cfg_phase0_offset\[\d+\]
cfg_phase90_offset\[\d+\]
cfg_phase270_offset\[\d+\]
delay_wave_cycle\[\d+\]
raw_edge1\[\d+\]
raw_edge2\[\d+\]
raw_edge3\[\d+\]
cal_dir
cal_phase0_offset\[\d+\]
cal_phase90_offset\[\d+\]
cal_phase270_offset\[\d+\]
latch_error
comp

#S
clk
rst_n
soft_rst_n
latch_phase90
latch_phase90_ack
latch_phase270
latch_phase270_ack
mems_drv
ref_wave