#N

soft_rst
state_o\[\d+\]
phase_offset_imported
cfg_done
boot_complete
rst_n
clk
spi_cs_n
spi_sclk
spi_mosi
spi_miso
spi_miso_oe

#W
cfg_f_MEMS_fcw_x\[\d+\]
cfg_phase0_offset_x\[\d+\]
cfg_phase90_offset_x\[\d+\]
cfg_phase270_offset_x\[\d+\]
delay_wave_cycle_x\[\d+\]
raw_edge1_x\[\d+\]
raw_edge2_x\[\d+\]
raw_edge3_x\[\d+\]
cal_dir_x
cal_phase0_offset_x\[\d+\]
cal_phase90_offset_x\[\d+\]
cal_phase270_offset_x\[\d+\]
latch_error_x
cal_done_x
cal_timeout_x
jitter_flag_x
phase_state_x\[\d+\]
votes_in_phase_x\[\d+\]
votes_out_phase_x\[\d+\]

#E
cfg_f_MEMS_fcw_y\[\d+\]
cfg_phase0_offset_y\[\d+\]
cfg_phase90_offset_y\[\d+\]
cfg_phase270_offset_y\[\d+\]
delay_wave_cycle_y\[\d+\]
raw_edge1_y\[\d+\]
raw_edge2_y\[\d+\]
raw_edge3_y\[\d+\]
cal_dir_y
cal_phase0_offset_y\[\d+\]
cal_phase90_offset_y\[\d+\]
cal_phase270_offset_y\[\d+\]
latch_error_y
cal_done_y
cal_timeout_y
jitter_flag_y
phase_state_y\[\d+\]
votes_in_phase_y\[\d+\]
votes_out_phase_y\[\d+\]

#S
